#boton_verde{ 
    color :hsl(134, 63%, 39%)}
    .navbar-brand img {
          max-width: 100px;


    }
    .carousel-item { opacity: .9;}
    #Bs {
      background-color: rgb(84, 84, 84); color: white; text-align: left; padding: auto;;
    }
    #card {
      text-align: left;
    }